<h1>List of all directors</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>DOB</th>
    <th></th>
  </tr>
<%3.times do %>
  <tr>
    <td><%=rand(1..5)%></td>
    <td><%=rand(1..5)%></td>
    <td><%=rand(1..5)%></td>
    <td><%=rand(1..5)%></td>
    <td><%=rand(1..5)%></td>
  </tr>
<%end%>

</table>
